/*------------------------------------------------------------------

  * Template Nam: Event Template For Getshop
  * Template UR:  https://sazzad362.com/
  * Description:  --------
  * Author:       Md Sazzad Hossain
  * Author URI:   https://sazzad362.com/
  * Version:      1.0.0
  * Last update:  16-07-2019

 * -----------------------------------------------------------------*
 *                         TABLE OF CONTENTS                        *
 * -----------------------------------------------------------------*
 *
	00. Plugins;
	01. base;
	02. Header;
 *

 * -----------------------------------------------------------------*
 *                        Color Codes                               *
 * -----------------------------------------------------------------*

	$brand_color: #ff5252;

-------------------------------------------------------------------*/
/*
	=================================
		@Loaded All Plugins
		@Sazzad362
	=================================
*/
/* 
 * Embed Google Font
 * 'Catamaran', sans-serif;
 *font-family: 'Roboto', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap");
/* 
 * Bootstrap 3.3.7 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
@import url("../css/bootstrap.min.css");
/* 
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*/
@import url("../css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

/*===================
	Event page
====================*/
#event_header {
  padding: 40px 0;
  background: url(../images/bg-header.jpg);
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 150px);
}

.header_content_area img {
  width: 100%;
  box-shadow: 2px 1px 8px 1px #572b6a;
}
.header_content_area .overlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  color: #fff;
}
.header_content_area .overlay_content h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
}
.header_content_area .overlay_content h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.header_content_area .overlay_content p {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.header_content_area .overlay_content .sd_ev_btn {
  background: transparent;
  border-color: #F59A0D;
  transition: all 0.9s ease;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.header_content_area .overlay_content .sd_ev_btn:hover {
  background: #F59A0D;
}

.button_area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 25px 0;
}
.button_area .menu_btn {
  background: #441C63;
  border-color: #441C63;
  width: 100%;
  margin-right: 15px;
  padding: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
}
.button_area .bg_red {
  background: #EB388A;
  border-color: #EB388A;
}
.button_area .bg_sky {
  background: #02B8BE;
  border-color: #02B8BE;
}

/*# sourceMappingURL=style.css.map */
