*{
	margin: 0;
	padding: 0;
}

html,body{
	font-family: 'Roboto', sans-serif;
}

/*===================
	Event page
====================*/

#event_header{
	padding: 40px 0;
	background: url(../images/bg-header.jpg);
	background-size: cover;
	background-position: center center;
    text-align: center;
}


.header_content_area{
	position: relative;
	.event_header_img{
		width: 100%;
		box-shadow: 2px 1px 8px 1px #572b6a;
		display: none;
	}
	.overlay_content{
		margin: 0 auto;
		display: block;
		color:#fff;
		h1{
			text-transform: uppercase;
			font-weight: 700;
		    margin: 0 0 10px;
		    font-size: 25px;
		}
		h2{
			font-size: 18px;
			text-transform: uppercase;
		    margin: 0 0 10px;
		}
		p{
			margin: 0;
			text-transform: uppercase;
		}
		.sd_ev_btn{
			background: transparent;
			border-color: #F59A0D;
			transition: all 0.9s ease;
			margin-top: 15px;
			text-transform: uppercase;
			letter-spacing: 4px;
			display: none;
			&:hover{
				background: #F59A0D;
			}
		}
	}
}

#button_area{
	padding: 20px 0 0;
	.menu_btn{
		margin-bottom: 10px;
		background: transparent;
		border: 2px solid #441C63;
		color: #441C63;
		width: 100%;
		margin-right: 15px;
		padding: 15px 0;
		font-weight: 700;
		text-transform: uppercase;
		&:last-child{
			margin: 0;
		}
	}
	.bg_red{
		background: transparent;
		color: #EB388A;
		border-color: #EB388A;
	}
	.bg_sky{
		background: transparent;
		color: #02B8BE;
		border-color: #02B8BE;
	}

	.sd_ev_btn{
		color: #441C63;
		background: transparent;
		border: 2px solid #441C63;
	}
}

#event_details{
	padding: 20px 0;
	.ev_artical{
		padding: 20px;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);

		.gs-header-mata{
			margin-bottom: 20px;
			display: flex;
			p{
				margin-right: 10px !important;
			}
		}
		.ev_title{
			h1{
				font-size: 20px;
				font-weight: bold;
				margin-top: 0;
			    margin-bottom: 15px;
			}
			p{
				margin: 0;
				font-size: 14px;
				color:#F59A0D;
			}
		}
	}
	.ev_details{
		margin-bottom: 20px;
	}
	
}

#address{
	padding: 20px 0;
	.map_addres{
		background: #f8f8f8;
		box-shadow: 1px 3px 8px 3px #ddd;
		transition: all 0.9s ease;
		&:hover{
			box-shadow: none;
		}
	}
	.ev_address{
		h1{
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: #404040;
			margin-bottom: 15px;
			margin-top: 25px;
		}
		h4{
			font-size: 18px;
			color:#F59A0D;
			margin-bottom: 35px;
		}
		p{
			font-weight: bold;
			text-transform: uppercase;
		}
		a{
			margin-top: 15px;
		}
	}
	.ev_map{
		iframe{
			width: 100%;
		}
	}
}

#gallery{
	padding: 20px 0;
	.gallery_area{
		background: #f8f8f8;
		box-shadow: 1px 3px 8px 3px #ddd;
		transition: all 0.9s ease;
		padding: 15px;
		&:hover{
			box-shadow: none;
		}
		.gal_title{
			margin-bottom: 25px;
			h1{
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				color:#F59A0D;
				margin-top: 0;
			}
			h4{
				font-size: 16px;
				color: #404040;
				letter-spacing: 5px;
			}
		}
		.ev_gallery_img{
			position: relative;
			overflow: hidden;
			img{
				width: 100%;
				box-shadow: 3px -2px 11px 1px #ddd;
				transition: all 0.9s ease;
			}
			.overlay{
				position: absolute;
				bottom: 0;
				left:50%;
				transform: translate(-50%,-50%);
				font-size:30px;
				color: #fff;
				z-index: 1;
				opacity: 0;
				transition: all 0.9s ease;
				a{
					color:#fff;
				}
			}
			&:after{
				position: absolute;
				content: '';
				top:0;
				width: 100%;
				height: 0;
				background: #000;
				opacity: 0;
				transition: all 0.9s ease;
			}
			&:hover{
				.overlay{
					opacity: 1;
					bottom: 50%;
				}
				&:after{
					opacity: 0.5;
					height: 100%;
				}
				img{
					transform: rotate(5deg) scale(1.2);
				}
			}
		}
	}
}

/*******************************************/
// Medium devices (tablets, less than 768px)
/********************************************/
@media (min-width: 768px) {
	#button_area{
		text-align: center;
		// padding: 20px 0;
		.menu_btn{
			display: inline-block;
			width: initial ;
			padding: 0 30px;
			margin-bottom: 0;
		}
	}
}


/*******************************************************/
// Extra large devices (large desktops, 1199px and up)
/*******************************************************/
@media (max-width: 1199px) {
	.event-btn-group{
		display: none;
	}
	.button_area{
		display: block;
	}
}


/*******************************************************/
// Extra large devices (large desktops, 1200px and up)
/*******************************************************/
@media (min-width: 1200px) {

	#event_header{
		padding: 0;
	    margin-bottom: 75px;
	}

	.header_content_area {
		position: relative;
		text-align: left;
		transform: translateY(75px);
		.event_header_img{
			display: block;
		}
		.overlay_content{
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
			padding: 0 150px;
			h1{
			    font-size: 45px;
			}
			h2{
				font-size: 30px;
			}
			h1,h2{
			    letter-spacing: 10px;
			}
			p{
			    margin-top: 20px;
			    text-transform: uppercase;
			    letter-spacing: 4px;
			}
			.sd_ev_btn{
				display: inline-block;
			}
		}
	}

	#button_area{
		display: none;
	}

	#event_details{
		padding: 50px 0;
	}

	.event-btn-group{
		position: absolute;
		top: 30%;
		transform: rotate(90deg);
		left: -160px;
		.btn{
			border-radius: 0;
			background: #F59A0D;
			border-color: #F59A0D;
			&:focus{
				background: #F59A0D;
				border-color: #F59A0D;
			}
		}
		.videoIcon{
			transform: rotate(270deg);
		}
	}
}

/* ==============
		Dummy
============*/
.modal-body{
	.form-control{
		border-radius: 0;
	}
}
.modal-footer{
	.btn{
			border-radius: 0;
			background: #F59A0D;
			border-color: #F59A0D;
			&:focus{
				background: #F59A0D;
				border-color: #F59A0D;
			}
		}
}